/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body , html {
    overflow-x: hidden;
}
.cardsCategorias a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}
.cardsCategorias a:hover{
    text-decoration: none;
    color:#ffaf6a;
   
}
body{
    background:#d8d8d8;
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
/* -- HEADER ALTERADO-- */
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 6px solid #e2781a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.151);
}
.navbarBg{
    background-color: #1a1a1a;
    height: 70px;
}
.imgLogo{
    height: 50px;
    margin-left: 12px;
}
.navbar-toggler{
    margin-right: 12px;
}
.nav-link{
    margin-left: 12px;
}
.mb-lg-0{
    background-color: #1a1a1a;
}
.d-flex{
    background-color: #1a1a1a;
    padding: 7px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.dropdown-menu{
    background-color: #86460f;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: #e2781a;
}
.aNav{
    color: #e2781a;
    font-size: 20px;
    font-weight: 500;
}
.me-2{
    margin-left: 12px;
    border-color: #1a1a1a;
    
}
.me-2::placeholder{
    color:#fef7e5;
}
.me-2:focus{
    border-color: #fef7e5;
    box-shadow: none;
}
.btnNav{
    color: #e2781a;
    border-color: #e2781a;
    margin-right: 12px;
    font-weight: 500;
}
.btnNav:hover{
    background-color: #f58b2f;
    color: whitesmoke;
    border-color: #1a1a1a;
}




/*seções da página*/
/*Primeira seção, titulo e descrição*/
.cabecalho{
    background-color:#fef7e5;
    text-align: center;
    height: 90vh;
    font-size: 4vmin;
    color: black;
    padding-top: 4%;
    margin-top: 70px;
    z-index: 1;
}
.bgCabecalho{
    position: absolute;
    width: 1200px;
    height: auto;
    left: -200px;
    bottom: -30px;
    z-index: 1;
}
.cabecalhoH3{
    color: #f3780c;
    font-weight: 600;
    font-size: 7vmin;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.descricao{
    position: absolute;
    right: 20px;
    top: 160px;
    font-weight: 500;
    transition: 1s ease;
}

/* Carrosel | Seção destaques*/
.destaques{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    background: url("../images/fundo.jpg");
    z-index: 0;
    height: auto;
}
.destaques::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: -1;
}
.destaquesContent{
    padding: 35px 0;
}
.destaques h4{
    margin-bottom: 40px;
    font-size: 8vmin;
    font-weight: 600;
}
.carrosselContent{
    display: flex;
    justify-content: center;
    z-index: 1;
}
.carousel{
    width: 80%;
    margin: 0 auto;
}
.carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    color: transparent;
    border-radius: 10px;
} 
.carousel img{
    border-radius: 10px;
    height: 467px;
}
.carrossel:hover{
    background-color: rgba(0, 0, 0, 0.493);
    color: whitesmoke;
    .rating-notes {color: #FFD700};
}

.avaliacao{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    gap: 5px;
}
.rating-notes{
    color: transparent;
    display: inline-flex;
    transition: 0.6s;
}
.text-avaliacao p{
    font-size: 12px;
    color: inherit;
    margin: 0;
    padding-top: 4px;
}
.pratos{
    position: relative;
    bottom: -20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardsPratos{ /*sombra das imagens*/
    background-color: transparent;
    color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.cardsPratos:hover{
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.226);
}
.cardsPratos .card-img {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
}
.pratosC{
    transition: 0.6s;
}
.pratosC:hover{
    transform: translateY(-20px);
    border-radius: 10px;
}

/*=============================================================================*/

/*Seção Categorias*/

.categorias{
    background-color: #fef7e5;
    text-align: center;
    padding-top: 15px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.categoriasContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    margin-bottom: 15px;
}
.card-img{
    height: 200px;
    margin: 10px;
}

.cardsCategorias{ /*sombra das imagens*/
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    margin: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transform: translateY(-15px);
}

.categorias h4{
    font-weight: 600;
    font-size: 7vmin;
    color:#e2781a;
}
.categoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.123);
}
.categoria .card-img {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}



/*Seção FINAL*/

.maisReceitas{
    background: url("../images/wallpaperflare.com_wallpaper.jpg");
    background-size:cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px
    
}
.maisReceitasContent{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.578);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: #fcfaf5;
}
.maisReceitasContent p{
    font-size: 6vmin;
    text-align: center;
    padding: 20px;
}
.btnVerTodas{
    width: 300px;
    height: 80px;
    border-color: #e2781a;
    color: #e2781a;
    transition: 0.5s;
}
.btnVerTodas:hover{
    background-color: #e2781a;
    color: whitesmoke;
    border-color: #e2781a;
}

/* FOOTER */
footer{
    height: 70px;
    display: flex;
    flex-direction: row;
}
.direitos{
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    width: 50%;
    color: white;
    border-right: 1px solid #d8d8d8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contatos{
    background-color: #1a1a1a;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
footer .contatos .p{
    color: whitesmoke;
    font-size: 2vmin;
    width: fit-content;
    margin-right: 5px;
}



/* Estilos para a barra de rolagem vertical */
body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-track {
    background-color: #fcfaf5;
  }

  body::-webkit-scrollbar-horizontal {
    height: 10px;
  }
  
  body::-webkit-scrollbar-thumb:horizontal {
    background-color: #d8d8d8;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-track:horizontal {
    background-color: #fcfaf5;
  }
  #btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #e2781a;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
  }
/* Estilos para telas maiores */

  @media (max-width: 768px){
    .cabecalho .descricao{
        position: absolute;
        background-color: #e2771aa9;
        padding: 20px 30px 20px 20px;
        color: whitesmoke;
        border-radius: 7px;
        right: -10px;
        transition: 1s ease;
    }
    .cabecalhoH3{
        color: whitesmoke;
    }
    
    .carousel img{
        height: auto;
    }
    .pratos{
        width: 100vw;
        margin-top: 35px;
    }
    .destaques{
        height: auto;
        background-size: cover;
    }
    .carrosselContent{
        height: 50vh;
    }
  }

  @media (max-width: 100vw){
    .bgCabecalho{
        position: absolute;
        width: 100%;
        z-index: 1;
    }
  }